################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FartherUnity/Library
/FartherUnity/Logs
/FartherUnity/obj/Debug
/FartherUnity/Packages
/FartherUnity/Temp
*.csproj
*.sln
/FartherUnity/.vs/FartherUnity/v16
/.vs
*.vsconfig
